sudo: required

# language: none <- no language, please, but this is not possible, so it takes Ruby.

matrix:
  include:
    # Check if coding style is okay
    - env: BUILD_TYPE=coding-style-check

      services: docker

      before_install:
       - sudo apt-get -qq update
       - sudo apt-get install -y findutils

      script:
       - git ls-files '*.cpp' '*.h' |
           xargs
             docker run -v"$PWD":/media/ banditcpp/build-environments:clang-format-4.0
             clang-format-4.0 -i &&
         git diff &&
         git diff-index --quiet HEAD

services:
 - docker

env:
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=98 CC=gcc-4.4 CXX=g++-4.4
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=98 CC=gcc-4.6 CXX=g++-4.6
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=03 CC=gcc-4.6 CXX=g++-4.6
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=98 CC=clang CXX=clang++
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=03 CC=clang CXX=clang++
 - DOCKER_TAG=snowhouse-minimum CXX_STANDARD=11 CC=clang CXX=clang++
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=98 CC=gcc-4.8 CXX=g++-4.8
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=03 CC=gcc-4.8 CXX=g++-4.8
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=11 CC=gcc-4.8 CXX=g++-4.8
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=98 CC=gcc-4.9 CXX=g++-4.9
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=11 CC=gcc-4.9 CXX=g++-4.9
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=98 CC=clang-3.5 CXX=clang++-3.5
 - DOCKER_TAG=debian-jessie-compilers CXX_STANDARD=11 CC=clang-3.5 CXX=clang++-3.5
 - DOCKER_TAG=debian-stretch-compilers CXX_STANDARD=11 CC=gcc-6 CXX=g++-6
 - DOCKER_TAG=debian-stretch-compilers CXX_STANDARD=11 CC=clang-3.9 CXX=clang++-3.9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=gcc-7 CXX=g++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=gcc-7 CXX=g++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=gcc-7 CXX=g++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=gcc-7 CXX=g++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=gcc-7 CXX=g++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=gcc-8 CXX=g++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=gcc-8 CXX=g++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=gcc-8 CXX=g++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=gcc-8 CXX=g++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=gcc-8 CXX=g++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=gcc-9 CXX=g++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=gcc-9 CXX=g++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=gcc-9 CXX=g++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=gcc-9 CXX=g++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=gcc-9 CXX=g++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=clang-6.0 CXX=clang++-6.0
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=clang-6.0 CXX=clang++-6.0
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=clang-6.0 CXX=clang++-6.0
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=clang-6.0 CXX=clang++-6.0
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=clang-6.0 CXX=clang++-6.0
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=clang-7 CXX=clang++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=clang-7 CXX=clang++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=clang-7 CXX=clang++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=clang-7 CXX=clang++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=clang-7 CXX=clang++-7
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=clang-8 CXX=clang++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=clang-8 CXX=clang++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=clang-8 CXX=clang++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=clang-8 CXX=clang++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=clang-8 CXX=clang++-8
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=98 CC=clang-9 CXX=clang++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=03 CC=clang-9 CXX=clang++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=11 CC=clang-9 CXX=clang++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=14 CC=clang-9 CXX=clang++-9
 - DOCKER_TAG=debian-bullseye-compilers CXX_STANDARD=17 CC=clang-9 CXX=clang++-9

script:
 - util/build-in-container.sh ${CXX_STANDARD} banditcpp/build-environments:${DOCKER_TAG}
